
@{

    Layout = "_Layout";
}

@section header{
    <link href="~/css/site.css" rel="stylesheet" />

}


@section footer {
    <script src="~/js/site.js"></script>
}

<h1>This is  Renderbody part</h1>
@ViewBag.Product.Name
@ViewBag.Greeting


