
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    Xin chao

    <environment names="Development">
        <h1>This only renders in the Development Environment</h1>
    </environment>

    <environment names="Production">
        <h1>This renders Production Environments</h1>
    </environment>
</head>
<body>
</body>
</html>
